@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>OWASP Top 10 demo app</p>
    <a href="https://owasp.org/www-project-top-ten/" target="blank">https://owasp.org/www-project-top-ten/</a>
</div>
