@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>As this is a demo, some privacy details are exposed here !
    the admin account and password can be found in the code!
</p>